<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goset.adoni.myfirebase">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LogIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:parentActivityName=".MainActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />

        <intent-filter>
            <action android:name="com.goset.adoni.myfirebase.MainActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

        <activity android:name=".MainActivity" />
        <activity android:name=".TeaSignUp" />
        <activity android:name=".ImageUpload" />
        <activity android:name=".UploadPDF" />
        <activity android:name=".ShowImages" />
        <activity android:name=".ForgotPassword" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FeedBack" />
        <activity android:name=".SelectCategory" />
        <activity android:name=".TeacherLogin" />
        <activity android:name=".UploadAnswer"></activity>
    </application>

</manifest>